<div class="z-40 fixed top-10/100 left-1/2 transform -translate-x-1/2">
    <fuse-alert
      [appearance]="'outline'"
      [dismissible]="true"
      [dismissed]="true"
      [name]="'success-save'"
      [type]="'success'">
      Se ha guardado correctamente la configuración
    </fuse-alert>
</div>
<div class="z-40 fixed top-10/100 left-1/2 transform -translate-x-1/2">
    <fuse-alert
      [appearance]="'outline'"
      [dismissible]="true"
      [dismissed]="true"
      [name]="'success-update'"
      [type]="'success'">
      Se ha actualizado correctamente la configuración
    </fuse-alert>
</div>
<div class="flex flex-col flex-grow min-w-0 ">
    
    <form class="pt-2" [formGroup]="primerForm" >
        
        <div class="flex flex-row">
            <!-- Primera columna - Mitad de la pantalla -->
            <div class="w-1/2">
                <div class="grid grid-cols-3">
                    <div class="col-span-1 ">
                        <div class="flex items-center justify-start ml-6">
                            <button 
                            mat-flat-button 
                            (click)="cancelar()">
                                <span *ngIf="primerForm.pristine">
                                    Cancelar
                                </span>
                                <span *ngIf="!primerForm.pristine">
                                    Restablecer
                                </span>
                            </button>
                            <button 
                            class="px-6 mx-3" 
                            mat-flat-button 
                            [disabled]="primerForm.pristine || primerForm.disabled" 
                            [color]="'primary'" 
                            type="submit" 
                            (click)="guardarDataSet()">
                                <span>Guardar</span>
                                <mat-progress-spinner
                                    *ngIf="primerForm.disabled"
                                    [diameter]="24"
                                    [mode]="'indeterminate'">
                                </mat-progress-spinner>
                            </button>
                        </div>
                    </div>
                </div>
                
            </div>

            <!-- Segunda columna - Mitad de la pantalla -->
            <div class="w-1/2">
                <!-- Dividir en 3 columnas -->
                <div class="grid grid-cols-3">
                    <!-- Primera columna de la segunda columna -->
                    <div class="col-span-1 px-2 py-1 mr-2">
                        <!-- Contenido de la primera columna -->
                        <button class="py-2 px-4" mat-flat-button (click)="cargarTabla()">
                            <ng-container *ngIf = isReload>
                                <span class="absolute top-[-18px] right-0 left-[47px] flex items-center justify-center h-3">
                                    <span class="flex items-center justify-center shrink-0 min-w-4 h-4 px-1 ml-4 mt-2.5 rounded-full bg-gray-500 text-primary text-xs font-medium">
                                        ★
                                    </span>
                                </span>
                            </ng-container>
                            Cargar
                        </button>
                        <span *ngIf="count_value !== 0" class="ml-2 text-gray-600">
                            Resultados: <strong>{{ count_value }}</strong>
                        </span>
                    </div>

                    <!-- Segunda columna de la segunda columna -->
                    <div class="col-span-1  flex justify-center items-center">
                        <!-- Contenido de la segunda columna -->
                        <label for="limite">Limite:
                            <input id="limite" type="number" class="border rounded px-2 py-1 mr-2" placeholder="100"
                                formControlName="limit"> 
                        </label>
                    </div>

                    <!-- Tercera columna de la segunda columna -->
                    <div class="col-span-1 flex justify-end items-end">
                        <!-- Contenido de la tercera columna -->
                        <button class="py-2 px-4" mat-flat-button (click)="encode()">
                            <ng-container *ngIf = isReload>
                                <span class="absolute top-[-18px] right-0 left-[47px] flex items-center justify-center h-3">
                                    <span class="flex items-center justify-center shrink-0 min-w-4 h-4 px-1 ml-4 mt-2.5 rounded-full bg-gray-500 text-primary text-xs font-medium">
                                        ★
                                    </span>
                                </span>
                            </ng-container>
                            generar
                        </button>
                        <button (click)="toggleContainers()" class="px-2 rounded">
                            <mat-icon [svgIcon]="'heroicons_outline:arrows-pointing-out'"></mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>



        <!-- Main -->

        <!-- Main -->
        <div class="flex flex-auto justify-between">
            <!-- Contenedor izquierdo -->
            <div id="leftContainer" [ngClass]="{'hidden': isHidden}" class="flex-auto w-1/2 border border-red"
                style="height: 723px;">
                <!-- Pestañas -->
                <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="selectedTabIndex = $event.index;" >
                    <!-- Filtros -->
                    <mat-tab label="Filtros">
                        <div class="flex flex-col h-[639px] bg-card shadow rounded overflow-hidden">
                            <div>
                                <div class="flex items-center bg-gray-50 dark:bg-gray-700 p-4 mb-4 border-b flex">
                                    <p class="text-lg font-medium">Datos de información</p>
                                    <button *ngIf="isContentOpen" mat-icon-button matTooltip="Basic" (click)="toggleContent()">
                                        <mat-icon class="icon-size-6 text-primary-500"
                                            [svgIcon]="'heroicons_solid:arrow-up-circle'"></mat-icon>
                                    </button>
                                    <button *ngIf="!isContentOpen" mat-icon-button matTooltip="Basic" (click)="toggleContent()">
                                        <mat-icon class="icon-size-6 text-primary-500"
                                            [svgIcon]="'heroicons_solid:arrow-down-circle'"></mat-icon>
                                    </button>
                                </div>
                                <div *ngIf="isContentOpen">
                                    <div class="flex px-8">
                                        <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto mr-2">
                                            <mat-label>Nombre</mat-label>
                                            <input matInput formControlName="nombre" [placeholder]="'Mi nuevo dataset'">
                                            <mat-hint>Nombre de la colección</mat-hint>
                                            <mat-error *ngIf="primerForm.get('nombre').hasError('required')">
                                                Nombre es obligatorio
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto">
                                            <mat-label>Token</mat-label>
                                            <input matInput formControlName="token" [placeholder]="'Token de la colección'">
                                            <mat-hint>Token de la colección</mat-hint>
                                            <mat-error *ngIf="primerForm.get('token').hasError('required')">
                                                Token es obligatorio
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
        
                                    <div class="flex px-8">
                                        <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto mr-2">
                                            <mat-label>Desde</mat-label>
                                            <mtx-datetimepicker #datetimePicker type="datetime" mode="auto"
                                                multiYearSelector="false" startView="month" timeInterval="1" timeInput="true">
                                            </mtx-datetimepicker>
                                            <input [mtxDatetimepicker]="datetimePicker" formControlName="start" matInput
                                                required>
                                            <mat-hint>AAAA-MM-DD HH:MM</mat-hint>
                                            <mtx-datetimepicker-toggle matSuffix
                                                [for]="datetimePicker"></mtx-datetimepicker-toggle>
                                        </mat-form-field>
                                        <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto">
                                            <mat-label>Hasta</mat-label>
                                            <mtx-datetimepicker #datetimePicker2 type="datetime" mode="auto"
                                                multiYearSelector="false" startView="month" timeInterval="1" timeInput="true">
                                            </mtx-datetimepicker>
                                            <input [mtxDatetimepicker]="datetimePicker2" formControlName="end" matInput
                                                required>
                                            <mat-hint>AAAA-MM-DD HH:MM</mat-hint>
                                            <mtx-datetimepicker-toggle matSuffix
                                                [for]="datetimePicker2"></mtx-datetimepicker-toggle>
                                        </mat-form-field>
                                    </div>
                                </div>
                                    
                            </div>
                            

                            <!-- <p>{{datetime.value}} - {{datetime2.value}}</p> -->
                            <div class="flex items-center bg-gray-50 dark:bg-gray-700 py-2 px-4 my-4 border-b">
                                <h1 class="text-lg font-medium">Filtros</h1>
                                <button mat-icon-button matTooltip="Basic" (click)="addInput()">
                                    <mat-icon class="icon-size-6 text-primary-500"
                                        [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                                </button>
                                <fuse-alert class="" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                                    [type]="alert.type" [@shake]="alert.type === 'error'">
                                    {{alert.message}}
                                </fuse-alert>
                            </div>

                            <div [ngClass]="isContentOpen ? 'max-h-[250px]' : 'max-h-[439px]'" class="overflow-y-auto" [formGroup]="filterForm">
                                <div *ngFor="let input of inputs; let i = index" class="flex items-center px-8">
                                    <!-- TAG -->
                                    <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto mr-2">
                                        <mat-label>Filtro {{i+1}}</mat-label>

                                        <mat-select [value]="input">
                                            <mat-option (onSelectionChange)="onSelectChangeTag($event, i)"
                                                *ngFor="let tag of tags" [value]="tag" [selected]="tag === inputs[i]"
                                                [disabled]="inputs.includes(tag) && tag !== inputs[i]">
                                                {{ tag }}
                                            </mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                    <!-- VALUES -->
                                    <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto">
                                        <mat-label></mat-label>
                                        <mat-select #select [value]="value" placeholder="" multiple
                                              [(ngModel)]="selectedValueByTag[inputs[i]]" (ngModelChange)="markAsModified()" [ngModelOptions]="{standalone: true}">
                                            <!-- <mat-select-filter class="p-4" [array]="allValueByTag[inputs[i]]" (filteredReturn)="filterOptions(inputs[i], $event)"></mat-select-filter> -->
                                            <mat-select-trigger>
                                                <ng-container *ngIf="selectedValueByTag[inputs[i]]?.length > 2; else lessThanThree">
                                                    (+{{selectedValueByTag[inputs[i]]?.length}} seleccionados)
                                                </ng-container>
                                            
                                                <ng-template #lessThanThree>
                                                    {{selectedValueByTag[inputs[i]]?.join(', ')}}
                                                </ng-template>
                                            </mat-select-trigger>
                                            <!-- <input matInput placeholder="Filtrar opciones" (input)="filterOptions($event.target.value, inputs[i])"> -->
                                            <mat-option (click)="seleccionarTodo(inputs[i])">-- Seleccionar todo --</mat-option>
                                            <mat-option value="{{value}}"
                                                *ngFor="let value of allValueByTag[inputs[i]]">{{value}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <button mat-icon-button matTooltip="Basic" (click)="deleteInput(i)">
                                        <mat-icon class="text-red-600 icon-size-5"
                                            [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                    </button>
                                </div>
                            </div>

                           
                        </div>
                    </mat-tab>
                    <mat-tab label="Selección de caracteristicas ">
                        <div class="flex flex-col items-center h-[639px] bg-card rounded">
                            <h3 class="mb-24 mt-6">Deselecciona las columnas que no deseas</h3>
                            <div class="flex flex-col items-center justify-center">

                                <ul class="grid grid-cols-2 gap-4 px-3 pb-3 overflow-y-auto text-xl text-gray-700 dark:text-gray-200">
                                    <li *ngFor="let column of administrarColumnas; let i = index">
                                        <div class="flex items-center p-2 rounded hover:bg-gray-300 dark:hover:bg-gray-600">
                                            <input type="checkbox" [checked]="!column.hide" (change)="showColumn($event, column)" id={{i}} class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                            <label for={{i}} class="w-full ms-2 text-lg font-medium text-gray-900 rounded dark:text-gray-300">{{ column.header }}</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        



                    </mat-tab>
                    <mat-tab label="Tratamiento de fechas">
                        <div class="flex flex-col items-center h-[639px] bg-card rounded">
                            <h3 class="mb-24 mt-6">Selecciona los tipos de fechas</h3>
                            <div class="flex flex-col items-center justify-center">

                                <ul  class="grid grid-cols-2 gap-4 px-3 pb-3 overflow-y-auto text-xl text-gray-700 dark:text-gray-200">
                                    <li *ngFor="let tipo of tiposFechas; let i = index">
                                        <div class="flex items-center p-2 rounded hover:bg-gray-300 dark:hover:bg-gray-600">
                                            <input type="checkbox" [checked]="!tipo.hide" (change)="addColumn($event, tipo)" id={{i}} class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                            <label for={{i}} class="w-full ms-2 text-lg font-medium text-gray-900 rounded dark:text-gray-300">{{ tipo.header }}</label>
                                        </div>
                                    </li>
                                    
                                    
                                </ul>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Tratamiento de datos">
                       
                        <div class="h-[639px] rounded relative overflow-x-auto">
                            
                            <div class="mat-elevation-z8 h-[639px] bg-card rounded">
                                <table mat-table [dataSource]="tratamientoDatos" class="w-full">
    
                                    <!-- Nombre Column -->
                                    <ng-container matColumnDef="columna">
                                        <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-primary">Nombre</th>
                                        <td mat-cell *matCellDef="let element" class="px-6 py-4 font-bold text-gray-900 whitespace-nowrap dark:text-white border-r">{{element.header}}</td>
                                    </ng-container>
    
                                    <!-- Nulos Column -->
                                    <ng-container matColumnDef="nulos">
                                        <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-primary">Nulos</th>
                                        <td mat-cell *matCellDef="let element" class="px-6 py-4">
                                            <div class="flex items-center">
                                                <mat-form-field>
                                                    <mat-select [(value)]="element.nulos" (selectionChange)="element.nulos === 'Eliminar' ? element.valorSustituir = '' : null; markAsModified(); isReload = true;" [disabled]="element.nulos === '' ">
                                                        <mat-option value="Eliminar">Eliminar</mat-option>
                                                        <mat-option value="Sustituir">Sustituir</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-form-field class="ml-1 p-1 w-20">
                                                    <input matInput [(ngModel)]="element.valorSustituir" [ngModelOptions]="{standalone: true}" [disabled]="element.nulos !== 'Sustituir'">
                                                </mat-form-field>
                                            </div>
                                        </td>
                                    </ng-container>
    
                                    <!-- Codificar Column -->
                                    <ng-container matColumnDef="codificar">
                                        <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-primary">Codificar</th>
                                        <td mat-cell *matCellDef="let element" class="px-6 py-4">
                                            <mat-form-field>
                                                <mat-select [(value)]="element.codificar" [disabled]="element.codificar === '' ">
                                                    <mat-option value="one-hot">one-hot</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </td>
                                    </ng-container>
    
                                    <!-- Normalizar Column -->
                                    <ng-container matColumnDef="normalizar">
                                        <th mat-header-cell *matHeaderCellDef class="px-6 py-3 text-primary">Normalizar</th>
                                        <td mat-cell *matCellDef="let element" class="px-6 py-4">
                                            <div class="flex items-center">
                                                <div class="flex items-center mb-4">
                                                    <!-- <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"> -->
                                                    <mat-checkbox [color]="'primary'" [(ngModel)]="element.normalizar" [ngModelOptions]="{standalone: true}" (change)="element.normalizar ? element.min = 0 : element.min = null; element.normalizar ? element.max = 1 : element.max = null; markAsModified(); isReload = true;"></mat-checkbox>
                                                </div>
                                                <mat-form-field class="w-12 padding pr-1"   >
                                                    <input matInput [(ngModel)]="element.min" [ngModelOptions]="{standalone: true}" [disabled]="!element.normalizar" class="ml-1 border p-1">
                                                </mat-form-field>
                                                <mat-form-field class="w-12  padding" >
                                                    <input matInput [(ngModel)]="element.max" [ngModelOptions]="{standalone: true}" [disabled]="!element.normalizar" class="ml-1 border p-1 ">
                                                </mat-form-field>
                                            </div>
                                        </td>
                                    </ng-container>
    
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns2;" [hidden]="row.hide"></tr>
                                </table>
                            </div>
                        </div>


                       
                    </mat-tab>
                </mat-tab-group>
            </div>
            <!-- Contenedor derecho -->
            <div id="rightContainer" [ngClass]="{'w-full': isHidden}" class="flex-auto w-1/2 border border-grey"
                style="height: 723px;">
                <!-- Contenido derecho -->

                <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="selectedTabIndex = $event.index">
                    <!-- Filtros -->
                    <mat-tab label="Filtros">
                        <div class="flex flex-col items-center justify-center h-full">
                            <div class="w-full  rounded">
                                <!-- <table mat-table [dataSource]="dataSource" class="rounded-sm">
                                <!-- Agregar columnas 
                                <ng-container *ngFor="let column of displayedColumns; let i = index" [matColumnDef]="column">
                                    <th mat-header-cell *matHeaderCellDef class="sticky text-primary-400">{{ column }}</th>
                                    <td mat-cell *matCellDef="let element" >{{ element[i] }}</td>
                                </ng-container>
                
                                <!-- Definir las filas 
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table> -->
                                <mtx-grid class="h-[639px] rounded" [data]="list" #grid 
                                    [columns]="columns"
                                    [columnMenuButtonColor]="'primary'"
                                    [pageSizeOptions]="[5,10,20,30]" 
                                    [noResultText]="'No hay resultados'">
                                </mtx-grid>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Selección de caracteristicas ">

                        <mtx-grid class="h-[639px] rounded" [data]="list1" #grid 
                                    [columns]="columns1"
                                    [columnMenuButtonColor]="'primary'"
                                    [pageSizeOptions]="[5,10,20,30]" 
                                    [noResultText]="'No hay resultados'">
                        </mtx-grid>
                    </mat-tab>
                    <mat-tab label="Tratamiento de fechas">
                        <mtx-grid class="h-[639px] rounded" [data]="list2" #grid 
                                    [columns]="columns2"
                                    [columnMenuButtonColor]="'primary'"
                                    [pageSizeOptions]="[5,10,20,30]" 
                                    [noResultText]="'No hay resultados'">
                        </mtx-grid>
                    </mat-tab>
                    <mat-tab label="Tratamiento de datos">
                        <mtx-grid class="h-[639px] rounded" [data]="list3" #grid 
                                    [columns]="columns3"
                                    [columnMenuButtonColor]="'primary'"
                                    [pageSizeOptions]="[5,10,20,30]" 
                                    [noResultText]="'No hay resultados'">
                        </mtx-grid>
                    </mat-tab>
                </mat-tab-group>


            </div>

        </div>

    </form>
</div>