<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
    <div class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo_1.png">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">{{'userEdit.title' | transloco}}</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>{{'userEdit.subTitle' | transloco}}</div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/gestion-usuario/crear']">{{'userEdit.subTitle2' | transloco}}
                </a>
            </div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign Up form -->
            <form
                class="mt-8"
                [formGroup]="datosForm">

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Email</mat-label>
                    <input
                        id="email"
                        matInput
                        [formControlName]="'email'">
                    <mat-error *ngIf="datosForm.get('email').hasError('required')">
                        {{'userEdit.emailErrObl' | transloco}}
                    </mat-error>
                    <mat-error *ngIf="datosForm.get('email').hasError('email')">
                        {{'userEdit.emailErrVal' | transloco}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="rol" [(value)]="selected">
                        <mat-option value="1">Admin</mat-option>
                        <mat-option value="0" >{{'userEdit.user' | transloco}}</mat-option>
                    </mat-select>
                </mat-form-field>
                
                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>{{'userEdit.pass' | transloco}}</mat-label>
                    <input
                        id="password"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        #passwordField>
                    <button
                        mat-icon-button
                        disabled="true"
                        type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                    </button>
                    <mat-error>
                        {{'userEdit.passErr' | transloco}}
                    </mat-error>
                </mat-form-field>

                <div class="flex">
                    <button
                        class="fuse-mat-button-large w-full mt-6 mr-2"
                        mat-flat-button
                        [color]="'bg-warn-400'"
                        (click)="cancelar()">
                        <span *ngIf="datosForm.pristine">
                            {{'userEdit.cancelar' | transloco}}
                        </span>
                        <span *ngIf="!datosForm.pristine">
                            {{'userEdit.restablecer' | transloco}}
                        </span>
                    </button>
                    <!-- Submit button -->
                    <button
                        class="fuse-mat-button-large w-full mt-6"
                        mat-flat-button
                        [disabled]="datosForm.pristine || datosForm.disabled" 
                        [color]="'primary'"
                        (click)="update()">
                        <span *ngIf="!datosForm.disabled">
                            {{'userEdit.crear' | transloco}}
                        </span> 
                        <mat-progress-spinner
                            *ngIf="datosForm.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'">
                        </mat-progress-spinner>
                    </button> 


                    
                    <!-- [disabled]="datosForm.disabled" -->
                </div>
                
            </form>
        </div>
    </div>
</div>
