<div class="w-96 h-42" *ngIf="!generating">
    <div class="flex flex-col items-center justify-center h-full" [formGroup]="form">
      <h2 mat-dialog-title class="mb-4">Nombre del dataset</h2>
      <mat-dialog-content class="w-full">
        <mat-form-field class="w-full">
          <input matInput formControlName="nombre" placeholder="Mi nuevo dataset" class="w-full">
          <mat-error *ngIf="form.get('nombre').invalid">Nombre requerido</mat-error>
        </mat-form-field>
        <mat-dialog-actions class="w-full justify-center">
          <button mat-flat-button [color]="'accent'" (click)="cancelar()">Cancelar</button>
          <button class="" mat-flat-button (click)="generar()" mat-flat-button type="submit"
                  [color]="'primary'"  [disabled]="form.pristine">
                      Generar
          </button>
        </mat-dialog-actions>
      </mat-dialog-content>
    </div>
</div>
<div class="w-96 h-32" *ngIf="generating && !error && !success">
  
  
  <!-- <div *ngIf="success"><h1>{{ mensajeRecibido |json }}</h1></div> -->
  
    <h2 mat-dialog-title>Generando... ({{progress}}%)</h2>
    <mat-dialog-content>
      <mtx-progress [type]="'success'"
      [value]="progress"
      [striped]="'striped'" [animate]="'animate'"
      [height]="16 + 'px'"
      >
      {{16>=14 ? progress + '%' : ''}}
      </mtx-progress>  
    </mat-dialog-content>
</div>
<div class="w-96 h-42" *ngIf="success">
    <div class="flex flex-col items-center justify-center h-full">
        <h2 mat-dialog-title>Dataset "{{nombre}}" generado correctamente</h2>
        <mat-dialog-content>
            <mat-dialog-actions>
            <button  mat-flat-button [color]="'primary'"(click)="aceptar()">Aceptar</button>
            </mat-dialog-actions>
        </mat-dialog-content>
    </div>
    
</div>
<div class="w-96 h-42" *ngIf="error">
  <div class="flex flex-col items-center justify-center h-full">
      <h2 mat-dialog-title>Hay un problema con el <strong>token</strong> o la <strong>OPEN Api</strong></h2>
      <mat-dialog-content>
          <mat-dialog-actions>
          <button  mat-flat-button [color]="'warn'"(click)="aceptar()">Aceptar</button>
          </mat-dialog-actions>
      </mat-dialog-content>
  </div>
  
</div>
